* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    height: 100%;
    padding: 0 10px;
    background-image: url(../images/cap-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

header .logo img {
    width: 50px;
    height: auto;
}

header h2 {
    margin: auto;
}

header .player {
    display: none;
}

header .btn-play {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    background-size: cover;
    background-image: url(../images/music.png)
}

header .play-active {
    background-image: url(../images/stop.png)
}

header:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 1;
    transition: all 0.5s ease;

    z-index: 9999;
}

.loading span {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    animation: loading-animation 1.5s infinite linear alternate;

}


@keyframes loading-animation {
    0% {
        text-shadow: 0 0 0 #0ff, 0 0 0 #0ff, 0 0 0 #0ff;
    }

    25% {
        text-shadow: 0 0 5px #0ff, 0 0 5px #0ff, 0 0 5px #0ff;
    }

    50% {
        text-shadow: 0 0 10px #0ff, 0 0 10px #0ff, 0 0 10px #0ff;
    }

    75% {
        text-shadow: 0 0 15px #0ff, 0 0 15px #0ff, 0 0 15px #0ff;
    }

    100% {
        text-shadow: 0 0 20px #0ff, 0 0 20px #0ff, 0 0 20px #0ff;
    }
}

.card-1 {
    height: 100%;
    width: fit-content;
    margin: auto;
    margin-top: 10px;

    display: flex;
    gap: 0 50px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    perspective: 1700px;

}

.card-1-content {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: #658349;
    transition: all 0.5s ease;

}

.card-1-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-1:hover .card-1-content {
    transform: rotateY(-20deg);
}

.card-1 .card-1-content:hover {
    transform: rotateY(0) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-1 .card-1-content:hover .card-1-title,
.card-1 .card-1-content:hover .card-1-description {
    transform: translateY(0);
}

.card-1 .card-1-content .card-1-title {
    position: absolute;
    top: 0;
    left: 45%;
    text-align: center;
    transition: all 0.5s ease;
    transform: translateY(-100%);
}

.card-1 .card-1-content .card-1-description {
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card-2 {
    margin-top: 10px;
    padding: 0 10%;
    width: 100%;
    min-width: 200px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    justify-content: center;

}

.card-2 .card-2-item {
    width: 200px;
    height: fit-content;
    overflow: hidden;
    object-fit: contain;
    transition: all 0.5s ease;
}

.card-2 .card-2-item img {
    width: 500px;
    height: auto;
}

.card-2 .card-2-item:hover {
    width: 500px;
}

.card-3 {
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.card-3 .card-3-item img {
    width: 100%;

    height: auto;

    max-width: 400px;

    min-width: 300px;

    min-height: 200px;

}


@media (max-width: 768px) {
    .card-3 .card-3-item img {
        min-width: 200px;

    }
}

@media (max-width: 480px) {
    .card-3 .card-3-item img {
        min-width: 100%;

    }
}