* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0 10px;

    background-image: url("../images/8_compressed.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

header:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 1;
    transition: all 0.5s ease;
    /* 半透明背景 */
    z-index: 9999;
}

.loading span {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    /* 白色文字 */
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    /* 蓝色发光效果 */
    animation: loading-animation 1.5s infinite ease-in-out;
    /* 添加动画 */
}

/* 定义加载动画 */
@keyframes loading-animation {
    0% {
        transform: scale(1);
        /* 正常大小 */
    }

    50% {
        transform: scale(1.2);
        /* 放大 */
    }

    100% {
        transform: scale(1);
        /* 恢复正常大小 */
    }
}

/* main {
    text-align: center;
} */

.card-1 {
    height: 100%;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    display: flex;
    gap: 0 50px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    perspective: 1700px;
    /* 添加透视效果 */
}

.card-1-content {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: #658349;
    transition: all 0.5s ease;

}

.card-1:hover .card-1-content {
    transform: rotateY(-20deg);
}

.card-1 .card-1-content:hover {
    transform: rotateY(0) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-1 .card-1-content:hover .card-1-title,
.card-1 .card-1-content:hover .card-1-description {
    transform: translateY(0);
}

.card-1 .card-1-content .card-1-title {
    position: absolute;
    top: 0;
    left: 45%;
    text-align: center;
    transition: all 0.5s ease;
    transform: translateY(-100%);
}

.card-1 .card-1-content .card-1-description {
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: all 0.5s ease;
    transform: translateY(100%);
}

.card-2 {
    margin-top: 30px;
    padding: 0 10%;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 0 20px;
    justify-content: center;

}

.card-2 .card-2-item {
    flex: 1;
    height: fit-content;
    overflow: hidden;
    object-fit: contain;
    transition: all 0.5s ease;
}

.card-2 .card-2-item img {
    width: 500px;
    height: auto;
}

.card-2 .card-2-item:hover {
    /* flex: 1; */
    flex-basis: 30%;
}